@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
    background-color: #fcfdef;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 58px;
    padding: 0 71px 0 71px;
}
ul{
    display: flex;
    gap: 50px;
    list-style: none;
    font-family: "Lato", sans-serif;
    font-size: 20px;
}
ul li a{
    text-decoration: none;
    color: #2B2A2A;
    opacity: 0.5;
}
ul li a:hover{
    opacity: 1;
    text-decoration: underline;
}
div#textandimage{
    width: 80vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
section#text{
    text-align: center;
    padding-right:3vw ;
}
span{
    color:#9091A5 ;
}
section#text h1{
    font-size: 48px;
    font-weight: normal;
}
div#line{
    width: 30vw;
    height: 0;
    border: 1px solid #071221;
    margin: 0 auto;
}
div#footer_main{
    text-align: center;
    margin: 104px auto;
}

div#projects{
    width: 80vw;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
}
div#projects h1{
    font-size: 48px;
}
div#projects a{
    display: block;
    text-decoration: underline;
    color: #071221;
    font-size:20px ;
    font-weight: bold;
    padding: 17px 0 17px 0;
}
div#sobre{
    width: 70vw;
    margin: 5vw auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div#sobre section#text {
    text-align: start;
}
div#sobre p span{
    font-weight: bold;
}
div#sobre p {
    font-size: 24px;
    font-family: "Lato", sans-serif;
}
div#sobre img{
    max-height: 40vh;
}
div#sobre p a{
    padding: 0 0 0 24px;
}